<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="8.17">
  <module name="Checker">
    <property name="tabWidth" value="4"/>
    <property name="fileLength" value="120"/>

    <rule name="EmptyLineSeparator" severity="warning"/>  <rule name="MissingBraces" severity="warning"/>     <rule name="WhitespaceAround" severity="warning">
      <![CDATA[
        <operator name="="/>
        <operator name="!="/>
        <operator name="=="/>
        <operator name="!="/>
        <operator name="<"/>
        <operator name=">"/>
        <operator name="<="/>
        <operator name=">="/>
        <operator name="+"/>
        <operator name="-"/>
        <operator name="*"/>
        <operator name="/"/>
        <operator name="%"/>
        <operator name="^"/>
        <operator name="&"/>
        <operator name("|"/>
        <operator name="&&"/>
        <operator name="||"/>
        <operator name="!"/>
        <operator name="?="/>
        <operator name=":"/>
      ]]></rule>                   <rule name="TypeName" severity="warning">
      <pattern type="CLASS_DEF" name="^([A-Z][A-Za-z0-9]*){1,}$" message="Class names must be PascalCase"/>
    </rule>
    <rule name="MethodName" severity="warning">
      <pattern type="METHOD_DEF" name="^[a-z][a-zA-Z0-9]*$" message="Method names must be camelCase"/>
    </rule>
    <rule name="VariableName" severity="warning">
      <pattern type="VARIABLE_DEF" name="^[a-z][a-zA-Z0-9]*$" message="Variable names must be camelCase"/>
    </rule>

    <rule name="MissingJavadocType" severity="warning"/>  <rule name="UnusedImports" severity="warning"/>        <rule name="MultipleStringLiterals" severity="warning"/>  <rule name="NewLineAtEndOfFile" severity="warning"/>     
    </module>
</checkstyle>

